
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 20px;">County-Trace</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/projects">Projects</a></li>
        <li><a ng-href="#/concerns">Concerns</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/projects">Projects</a></li>
        <li><a href="#/settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a></li>
      </ul>
    </div>
  </nav>

