<div class="row">
  <div class="col s5">
    <img class="img-responsive" src="/images/county-map.svg">
  </div>
  <div class="col s7">
    <div class="row">
      <div class="col s5">
        <!--     <div class="col s2" ng-include="'views/partials/sidebar.html'"></div> -->
        <div class="card" style="height: 273px;" >
          <!-- <div id="caption-box">
            <div id="caption-hearder">{{displayInfo.name}}
            </div>
            <div id="caption-text">{{displayInfo.details}}</div>
          </div> -->
          <div class="card-content" id="caption-box">
            <b><h5 style="color: #00BCD4;" class="center-align">Kenya: General Info</h5></b>
            <p><b>Area:</b> 582,650 sq. km</p>
            <p><b>Coastline:</b> 536 km</p>
            <p><b>President:</b> Uhuru Muigai Kenyatta</p>
            <p><b>VicePresident:</b> William Samoei Ruto</p>
            <p><b>Population:</b> 40 million (2009 census)</p>
            <p><b>Counties:</b> 47</p>
          </div>
        </div>
      </div>
      <div class="col s7">
        <div class="card" style="height: 263px;">
          <div class="card-content">
            <div class="row">
              <div class="card-title">
                <b><h5 style="color: #00BCD4;" class="center-align">Top Public Concerns</h5></b>
                <div style="margin: -50px 5px 0px 0px;" class="pull-right">
                  <div ng-if="userInformation" class="chip ">
                    <a href="" data-toggle="modal" data-target="#createConcern"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Create</a>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top:-5px;">
            <ul class="collection">
              <li class="collection-item" ng-repeat="concern in concerns | limitTo : 4">
                <a href="#/concern/{{concern.publicConcernId}}">{{concern.publicConcernName}}</a>
              </li>
            </ul>
          </div>
          <a class="pull-right" href="#/concerns">SEE MORE...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: -20px;">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <b><h5 style="color: #00BCD4;" class="center-align">Projects</h5></b>
          <div style="margin: -40px 5px 0px 0px;" class="pull-right">
            <div ng-if="userInformation.IsLeader=='1'" class="chip ">
              <a href="" data-toggle="modal" data-target="#createProject"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create</a>
          </div>
        </div>
        <div>
          <div id="uiGridProjects" ui-grid="gridOptions"  ui-grid-selection ui-grid-pagination ui-grid-exporter class="myGrid" style="max-height: 150px;"></div>
        </div>
        <div class="card-action">
          <a class="pull-right" style="color:#337ab7; margin-right: -23px;" href="#/projects">See More...</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Modal Structure -->
<!-- Modal to create a new concern -->
<div id="createConcern" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div ng-if='firstStep' class="modal-content">
  <div class="modal-body container" style="margin-top: 5px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 style="color: #00BCD4;" class="center-align">Create a New Concern</h5>
    <form submit="createConcern()">
      <div class="row">
        <div class="input-field col s12">
          <!-- <i class="small material-icons  prefix">mode_edit</i> -->
          <input ng-model="newConcern.title" id="concern_title" type="text" class="validate">
          <label for="name">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!-- <i class="small material-icons prefix">mode_edit</i> -->
          <textarea ng-model="newConcern.description" class="materialize-textarea" id="concern_description" ></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select class="browser-default" ng-model="newConcern.level" ng-init="newConcern.level='none'" >
            <option value="none">Block Level</option>
            <option value="country">National</option>
            <option value="county">County</option>
            <option value="constituency">Constituency</option>
            <option value="ward">Ward</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select class="browser-default" ng-model="newConcern.blockId" >
            <option ng-repeat="block in blockList track by block.blockId" value="{{block.blockId}}" >{{block.name}}</option>
          </select>
        </div>
      </div>
      <div class="row ">
        <div class="col s3 input-field"><label for="addressee">Addressed To:</label></div>
        <div class="col s9 input-field">
          <select id="addressee" class="browser-default" ng-model="newConcern.addressee">
            <option ng-repeat="addressee in addresseeList" ng-selected="addressee.value=='0'" value="{{addressee.name}}" >{{addressee.name}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <input type="submit" hidden>
    <a type="button" class="btn red btn-default" data-dismiss="modal">Cancel</a>
    <a type="button" ng-click="concernNextStep()" class="btn green btn-primary">Next Step</a>
  </div>
</div>
<div ng-if='secondStep' class="modal-content">
  <div class="modal-body container" style="margin-top: 5px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 style="color: #00BCD4;" class="center-align">Upload Photos (Optional)</h5>
    <form submit="createConcern()" name="concernPhotoForm">
      <div class="row ">
        <div class="col s3 input-field"><label for="addressee">Number of photos</label></div>
        <div class="col s9 input-field">
          <select class="browser-default" ng-model="concernImages.Number">
            <option value="0" ng-init="concernImages.Number='0'"  selected >None</option>
            <option value="1" >One</option>
            <option value="2" >Two</option>
            <option value="3" >Three</option>
            <option value="4" >Four</option>
            <option value="5" >Five</option>
          </select>
        </div>
      </div>
      <div style="overflow:scroll; max-height:350px;">
      <div ng-if="concernImages.Number=='5'||concernImages.Number=='4'||concernImages.Number=='3'||concernImages.Number=='2'||concernImages.Number=='1'">
        <div id="dropBox1" style="width: auto;height: 250px ;" ngf-change="disableDropSelect(1)" ngf-drop ngf-select ng-model="file1" class="drop-box"
          ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
          accept="image/*"
          ngf-pattern="'image/*'"><span id="dropBoxInner1">Drop images here or click to select</span>
          <img-crop image="file1 | ngfDataUrl" area-type="square"
          result-image="croppedDataUrl1" ng-init="croppedDataUrl1=''">
          </img-crop>
        </div>
        <img id="croppedPreviewBox1" class="hidden" style="margin-left: auto;margin-right: auto;" ng-src="{{croppedDataUrl1}}" />
      </div>

      <div ng-if="concernImages.Number=='5'||concernImages.Number=='4'||concernImages.Number=='3'||concernImages.Number=='2'">
        <div id="dropBox2" style="width: auto;height: 250px ;" ngf-change="disableDropSelect(2)" ngf-drop ngf-select ng-model="file2" class="drop-box"
          ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
          accept="image/*"
          ngf-pattern="'image/*'"><span id="dropBoxInner1">Drop images here or click to select</span>
          <img-crop image="file2 | ngfDataUrl" area-type="square"
          result-image="croppedDataUrl2" ng-init="croppedDataUrl2=''">
          </img-crop>
        </div>
        <img id="croppedPreviewBox2" class="hidden" style="margin-left: auto;margin-right: auto;" ng-src="{{croppedDataUrl2}}" />
      </div>

      <div ng-if="concernImages.Number=='5'||concernImages.Number=='4'||concernImages.Number=='3'">
        <div id="dropBox3" style="width: auto;height: 250px ;" ngf-change="disableDropSelect(3)" ngf-drop ngf-select ng-model="file3" class="drop-box"
          ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
          accept="image/*"
          ngf-pattern="'image/*'"><span id="dropBoxInner1">Drop images here or click to select</span>
          <img-crop image="file3 | ngfDataUrl" area-type="square"
          result-image="croppedDataUrl3" ng-init="croppedDataUrl3=''">
          </img-crop>
        </div>
        <img id="croppedPreviewBox3" class="hidden" style="margin-left: auto;margin-right: auto;" ng-src="{{croppedDataUrl3}}" />
      </div>

      <div ng-if="concernImages.Number=='5'||concernImages.Number=='4'">
        <div id="dropBox4" style="width: auto;height: 250px ;" ngf-change="disableDropSelect(4)" ngf-drop ngf-select ng-model="file4" class="drop-box"
          ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
          accept="image/*"
          ngf-pattern="'image/*'"><span id="dropBoxInner1">Drop images here or click to select</span>
          <img-crop image="file4 | ngfDataUrl" area-type="square"
          result-image="croppedDataUrl4" ng-init="croppedDataUrl4=''">
          </img-crop>
        </div>
        <img id="croppedPreviewBox4" class="hidden" style="margin-left: auto;margin-right: auto;" ng-src="{{croppedDataUrl4}}" />
      </div>

      <div ng-if="concernImages.Number=='5'">
        <div id="dropBox5" style="width: auto;height: 250px ;" ngf-change="disableDropSelect(5)" ngf-drop ngf-select ng-model="file5" class="drop-box"
          ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
          accept="image/*"
          ngf-pattern="'image/*'"><span id="dropBoxInner1">Drop images here or click to select</span>
          <img-crop image="file5 | ngfDataUrl" area-type="square"
          result-image="croppedDataUrl5" ng-init="croppedDataUrl5=''">
          </img-crop>
        </div>
        <img id="croppedPreviewBox5" class="hidden" style="margin-left: auto;margin-right: auto;" ng-src="{{croppedDataUrl5}}" />
      </div>
      </div>

      <input type="submit" hidden>
    </form>
  </div>
  <div class="modal-footer">
    <input type="submit" hidden>
    <a type="button" class="btn pull-left btn-default" ng-click="concernGoBack()" data-dismiss="modal">Back</a>
    <a type="button" class="btn red btn-default" data-dismiss="modal">Cancel</a>
    <a type="button" ng-click="createConcern()" class="btn green btn-primary">Submit Concern</a>
  </div>
</div>
</div>
</div>
<!-- Create a new project -->
<div id="createProject" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-body container" style="margin-top: 5px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 style="color: #00BCD4;" class="center-align">Create a New Project</h5>
    <form submit="createProject()">
      <div class="row">
        <div class="input-field col s12">
          <!-- <i class="small material-icons  prefix">mode_edit</i> -->
          <input ng-model="newProject.name" type="text" class="validate">
          <label for="name">Project Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!-- <i class="small material-icons prefix">mode_edit</i> -->
          <textarea ng-model="newProject.description" class="materialize-textarea" ></textarea>
          <label for="description">Project Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select class="browser-default" ng-model="newProject.status" ng-init="newProject.status='none'" >
            <option value="none">Project Status</option>
            <option value="0%">Proposed</option>
            <option value="25%">25% Complete</option>
            <option value="50%">50% Complete</option>
            <option value="75%">75% Complete</option>
            <option value="100%">Complete</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select class="browser-default" ng-model="newProject.publicConcernId" >
            <option ng-repeat="concern in blockConcerns track by concern.publicConcernId" value="{{concern.publicConcernId}}" >{{concern.publicConcernName}}</option>
          </select>
        </div>
      </div>
      <div class="row ">
        <div class="input-field col s12">
          <!-- <i class="small material-icons  prefix">mode_edit</i> -->
          <input ng-model="newProject.budget" type="text" class="validate">
          <label for="name">Project Budget</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <input type="submit" hidden>
    <a type="button" class="btn red btn-default" data-dismiss="modal">Cancel</a>
    <a type="button" ng-click="createProject()" class="btn green btn-primary">Submit Project</a>
  </div>
</div>
</div>
</div>
