<div class="row" style="padding-top:10px;">
  <div class="col s3">
    <img class="img-responsive thumbnail" style="width:300px;" src="/images/county-map.svg">
  </div>
  <div class="col s9">
  <div class="panel panel-default">
  <div class="panel-heading">
   <b><h6 style="color: #00BCD4; font-size:25px;" class="center-align">Projects</h6></b>
  </div>
   <div class="panel-body">
          <div id="uiGridProjects" ui-grid="gridOptions"  ui-grid-selection ui-grid-pagination ui-grid-exporter class="myGrid" style="height: 450px;"></div>
        </div>
  </div>
  </div>
</div>
